<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZYXColorNote.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F19D8E831E9F543F00520A9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F19D8E9C1E9F543F00520A9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F19D8EA71E9F543F00520A9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
